@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
header{
    margin-top: 2%;
    display: flex;
    width: calc(100% - 20%);
    margin: 2% auto;
    justify-content: space-between;
}

.head__container{
    display: flex;
    margin: auto 0; 
}